.landing-page {
	width: 100vw;
	height: 100vh;
	background: repeating-conic-gradient(#252525 0% 25%, #232323 0% 50%) 50% / 20px 20px;
	display: grid;
	place-items: center;
	position: relative;
}

.logo-container {
	position: relative;
	width: min(200px, 20%);
	aspect-ratio: 1;
	/* background-color: red; */
	display: grid;
	place-items: center;
}

.left-part {
	left: 0;
	width: 50%;
	height: 100%;
	/* background-color: green; */
	position: absolute;
	transform: rotateZ(180deg);
}

.right-part {
	right: 0;
	width: 50%;
	height: 100%;
	/* background-color: blue; */
	position: absolute;
}

.stick {
	width: clamp(10px, 10%, 5px);
	background-color: #ffbf00;
	position: absolute;
	border-radius: 10px;
	box-shadow: 0px 0px 4px #ffbf00,
				0px 0px 8px #ffbf00,
				0px 0px 16px #ffbf00,
				0px 0px 32px #ffbf00;

	/* display: grid; */
	/* place-items: center; */
}

.main-stick {
	/* left: 50%; */
	height: 100%;
	/* left: 0; */
}

.left {
	z-index: 2000;
}

.right {
	/* right: 0; */
	z-index: 10;
}

.top-small-stick {
	top: -20%;
	height: 70%;
	transform-origin: bottom;
	transform: rotateZ(45deg);
}

.bottom-small-stick {
	bottom: -20%;
	height: 70%;
	transform-origin: top;
	transform: rotateZ(-45deg);
}

.right-t-stick {
	/* z-index: 10; */
	bottom: 5%;
	left: 75%;
	height: 70%;
	transform-origin: top;
	transform: rotateZ(-45deg);
}

.left-t-stick {
	top: 5%;
	left: 20%;
	height: 70%;
	transform-origin: bottom;
	transform: rotateZ(-45deg);
}