.about-page {
	width: 100vw;
	height: 100vh;
	background: repeating-conic-gradient(#272727 0% 25%, #252525 0% 50%) 50% / 20px 20px;
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.left-side,
.right-side {
	width: 50vw;
	height: 100vh;
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	flex-direction: column;
	overflow: hidden;
}

.profile-photo {
	/* margin: 10rem; */
	height: 90%;
	width: auto;
	/* width: min(80%, auto); */
	border: 2px solid var(--bright-orange);
	border-radius: 10px;
	box-shadow: 4px 4px 4px 4px black, 8px 8px 20px 16px #121212;
	filter: grayscale(100%);
	transition: filter 250ms ease-in-out;
}

.profile-photo:hover {
	filter: grayscale(0%);
}

@media (max-width: 65em) {
	.profile-photo {
		height: auto;
		width: 90%;
	}
}

@media (max-width: 42em) {
	.about-page {
		height: 200vh;
		flex-direction: column;
	}
	.left-side,
	.right-side {
		width: 100%;
	}
	.myname {
		font-size: 50%;
	}
	.mylocation {
		font-size: 50%;
	}
	.hobby-list {
		font-size: 50%;
	}
}

.name-plate {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}

.myname {
	color: var(--neon-orange);
	font-size: 4vw;
	font-weight: bold;
	font-family: 'Bungee Shade', cursive;
	line-height: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}

.mylocation {
	color: white;
	width: 100%;
	text-align: end;
	font-family: 'Megrim', cursive;
	font-size: 1.5vw;
	margin: 0.25em 0.25em 0 0;
}

.hobby-list {
	display: flex;
	align-items: center;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-size: 3vw;
	width: 100%;
	margin: 1em 0 1em 0;
	color: var(--bright-orange);
}

.ilike {
	display: inline-block;
	margin-right: 0.3em;
}

.hobbies {
	position: relative;
	height: 100%;
	display: inline-block;
}

.css {
	position: absolute;
	animation: fadeinout 12s infinite;
	opacity: 0;
	white-space: nowrap;
}

.animations {
	position: absolute;
	animation: fadeinout 12s infinite;
	animation-delay: 4s;
	opacity: 0;
}

.python {
	position: absolute;
	animation: fadeinout 12s infinite;
	animation-delay: 8s;
	opacity: 0;
}

@keyframes fadeinout {
	0% {
		transform: translateY(20vh);
		opacity: 0;
	}
	6.25% {
		transform: translateY(0);
		opacity: 1;
	}
	25% {
		transform: translateY(0);
		opacity: 1;
	}
	31.25% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(-10vh);
		opacity: 0;
	}
}

@media (max-width: 42em) {
	.myname {
		font-size: 8vw;
	}
	.mylocation {
		font-size: 3vw;
	}
	.hobby-list {
		font-size: 6vw;
	}
}

details[open] summary ~ * {
	animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.about-myself {
	color: white;
	margin: 2em 0.5em 1em 0.5em;
	max-height: 50%;
	overflow: auto;
	width: 100%;
}

.about-myself > details > summary {
	cursor: pointer;
	margin: 1.5em 0;
	font-size: 1em;
	letter-spacing: 0.125em;
	background-color: var(--neon-orange-faded);
	padding: 0.25rem 0.5rem;
}

.skills > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 2rem;
}

.skills > div > h4,
h5 {
	display: inline;
	margin: 0.25rem 0;
}

.awards-achievements > h4,
span,
p {
	margin: 0;
}
