@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.contact-page {
	width: 100vw;
	height: 100vh;
	background: repeating-conic-gradient(#272727 0% 25%, #252525 0% 50%) 50% / 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.left-side,
.right-side {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding: 0 2rem;
	flex-direction: column;
	overflow: hidden;
}

.connect-heading {
	font-size: 4em;
	font-family: 'Redressed', cursive;
	color: var(--neon-orange);
}

.icon {
	width: 2em;
	height: 2em;
	margin-inline-end: 1em;
}

.heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
