/* .flickity-container {
	position: relative;
	width: 49.5vh;
	height: 88vh;
}

.my-image {
	width: 100%;
	aspect-ratio: 9/16;
	object-fit: cover;
} */

.flickity-container {
	position: relative;
	width: 67.5vh;
	height: 90vh;
}

.my-image {
	width: 100%;
	aspect-ratio: 3/4;
	object-fit: cover;
}
