.work-page {
	width: 100vw;
	height: 200vh;
	background: repeating-conic-gradient(#272727 0% 25%, #252525 0% 50%) 50% / 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-rows: repeat(2, 1fr); */
	gap: 2rem;
	margin-inline: 2rem;
	padding-block: 2rem;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 1rem; */
	/* width: 100%;
	height: 100%; */
	/* padding: 1rem; */
	/* overflow: hidden; */
}

.cell:nth-child(odd) {
	background: hsl(60, 50%, 65%);
}

.cell:nth-child(even) {
	background: hsl(325, 55%, 60%);
}
